yt-dlp
pandas
numpy
tqdm
PyYAML
kornia
yacs
ninja
smplx
pyrender
h5py
loguru
wandb
human_body_prior
face-alignment
configargparse
numpy>=1.18.5
scipy>=1.4.1
scikit-image>=0.15
opencv-python>=4.1.1
trimesh
plyfile
tensor-sensor
mmcv-full
mediapipe
facenet_pytorch
pynvml